[Unit]
Description=Arducam Stereo MPU ROVIO Service
After=multi-user.target
Wants=network-online.target

[Service]
Type=simple
User=vio
ExecStart=/bin/bash /home/vio/services/arducam_rovio.sh
StandardOutput=append:/home/vio/arducam_service.log
StandardError=append:/home/vio/arducam_service.log
RemainAfterExit=yes
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target