[Unit]
Description=MAVROS Service
After=roscore.service
Requires=roscore.service
#Wants=network-online.target

[Service]
Type=simple
User=vio
ExecStart=/bin/bash /home/vio/services/mavros.sh
StandardOutput=append:/home/vio/logs/mavros_service.log
StandardError=append:/home/vio/logs/mavros_service.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target